* {
    margin: 0;
}

body {
    background-color: aliceblue;
}

.guild_icon {
    border-radius: 50%;
    cursor: pointer;
}

.guilds {
    align-items: center;
    padding: 11px 0;
    max-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    float: left;
    width: 10%;
}