* {
    margin: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    word-wrap: break-word;
    overflow-y: scroll;
    color: #8e9297;
}

* ::-webkit-scrollbar {
    width: 0px;
}

.highlighted {
    filter: brightness(130%);
    border-radius: 5px;
}

br {
    display: block;
    margin-top: 5px;
    line-height: 22px;
    content: " ";
}

body {
    background-color: #36393f;
}

.guilds {
    align-content: center;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    float: left;
    width: 80px;
    background-color: #202225;
}

.guilds_divider {
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
	background-color: #373a3f;
	height: 5px;
    border: none;
    border-radius: 5px;
}

.chosen_guild {
    border-radius: 25%;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    margin-top: 5px;
    margin-left: 7.5px;
}

.unchosen_guild {
    border-radius: 50%;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    margin-top: 5px;
    margin-left: 10px;
}

.unchosen_guild:hover {
    border-radius: 25%;
    transition: all 125ms ease-in;
}

.authors {
    float: right;
    width: 20%;
    max-height: 100vh;
    min-height: 100vh;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: #2f3136;
}

.authors_divider {
    width: 90%;
    margin-left: 5%;
	background-color: #232428;
	height: 5px;
    border: none;
    border-radius: 5px;
}

.authors_header {
    align-content: center;
    font-size: 80%;
    margin: auto;
    width: 25%;
}

.author {
    display: inline;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    left: 5%;
    font-size: 125%;
}

.author_icon {
    padding-left: 3px;
    border-radius: 50%;
    float: left;
}

.author_container {
    left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2f3136;
    width: 95%;
}

.author_container:hover {
    filter: brightness(110%);
    border-radius: 5px;
}

.author_container:active {
    filter: brightness(120%);
}

.author_container:focus {
    filter: brightness(120%);
}

.author_name {
    margin-left: 50px;
}

.tags {
    width: 12.5%;
    float: left;
    max-height: 100vh;
    min-height: 100vh;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: #2f3136;
    text-align: center;
}

.tags_divider {
    width: 90%;
    margin-left: 5%;
	background-color: #232428;
	height: 5px;
    border: none;
	border-radius: 5px;
}

.tags_header {
    align-content: center;
    font-size: 80%;
    margin: auto;
    display: block;
}

.tag_container {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    background-color: #2f3136;
    border: #2f3136 1px dashed;
    position: relative;
    border-radius: 5px;
    object-fit: cover;
    width: 90%;
    align-content: center;
    display: inline-block;
    padding-bottom: 4px;
}

.tag_text {
    margin-left: 7px;
    text-align: left;
}

.tag_container:hover {
    filter: brightness(110%);
    border-radius: 5px;
}

.tag_container:active {
    filter: brightness(120%);
}

.tag_container:focus {
    filter: brightness(120%);
}

.center {
    padding: 0px;
    margin: 0px;
    max-height: 100vh;
    min-height: 100vh;
    width: 62.25%;
    align-content: center;
    float: left;
}

.header {
    max-height: 5vh;
    min-height: 5vh;
    padding-top: 3px;
    background-color: #36393f;
    border-bottom: 2px solid #232428;
}

.server_name {
    font-size: 125%;
    color: #f5f6f7;
    padding-left: 45%;
}

.no_quotes {
    max-height: 85vh;
    min-height: 85vh;
    align-content: center;
    padding-left: 25vw;
    font-size: 250%;
    padding-top: 23%;
}

.unclickable {
    cursor: not-allowed;
    filter: brightness(85%);
}

.footer {
    padding-top: 2vh;
    max-height: 10vh;
    min-height: 10vh;
    border-top: 2px solid #232428;
    background-color: #36393f;
}

.text_search_bar {
    margin-left: 15px;
    float: left;
    padding: 10px;
    padding-left: 15px;
    padding-right: 290px;
    border-radius: 5px;
    background-color: #40444b;
    color: #a4a7aa;
}

.search_icon {
    border-radius: 50%;
    cursor: pointer;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
}

.search_icon:hover {
    filter: brightness(95%);
}

.search_icon:active {
    filter: brightness(90%);
}

.quotes {
    max-height: 85vh;
    min-height: 85vh;
    align-content: center;
    margin-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
}

.quote_message {
    border-radius: 5px;
	display: flex;
	font-size: 0.9em;
	margin: 1em 0;
	padding: 0.25em 1em 0;
    background-color: #2f3136;
}

.quote_author_avatar {
    align-self: flex-start;
    margin-bottom: 3px;
}

.quote_message .quote_author_avatar {
	margin-top: 1px;
	margin-right: 16px;
    border-radius: 50%;
}

.quote_message .quote_message_content {
	width: 100%;
	line-height: 160%;
	font-weight: normal;
	overflow-wrap: anywhere;
}

.quote_message_body {
    color: #dcddde;
}

.quote_author_username {
    color: #f2ffff;
}

.quote_message .quote_author_info {
	display: inline-flex;
	align-items: center;
	font-size: 15px;
}

.quote_message .quote_author_info .quote_author_username {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.quote_message .quote_message_timestamp {
	color: #a3a6aa;
	font-size: 12px;
	margin-left: 3px;
}

.quote_message_timestamp {
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.quote_message .quote_message_body {
	position: relative;
}

.quote_message {
    padding-right: 0px;
}

.quote_image {
    max-width: 400px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.login {
    text-align: center;
    margin-left: 40%;
    margin-top: 20%;
    font-size: 200%;
    border: #212226 3px solid;
    background-color: #2f3136;
    border-radius: 10px;
    padding: 25px;
}

.login:hover {
    filter: brightness(95%);
}

.date_picker {
    margin-left: 15px;
    float: left;
    padding: 10px;
    border-radius: 5px;
    background-color: #40444b;
    min-width: 70px;
    color: #a4a7aa;
}

.date_picker:hover {
    filter: brightness(110%);
}

.date_picker:active {
    filter: brightness(120%);
}

.type_picker {
    margin-left: 15px;
    background-color: #40444b;
    float: left;
    padding: 10px;
    padding-left: 0px;
    border-radius: 5px;
    width: fit-content;
    display: inline;
    white-space: nowrap;
    word-wrap: normal;
}

.type {
    display: inline-flex;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 4px;
    color: #dcddde;
    float: left;
    margin-left: 10px;
}

.type:hover {
    filter: brightness(110%);
}

.type:active {
    filter: brightness(120%);
}

.rhap_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    line-height: 1;
    width: 400px;
    padding: 3px 8px;
    background: #40444b;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 7px;
}

.rhap_container:focus:not(:focus-visible) {
    outline: 0;
}

.rhap_container svg {
    vertical-align: initial;
}

.rhap_header {
    margin-bottom: 10px;
}

.rhap_footer {
    margin-top: 5px;
}

.rhap_main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.rhap_stacked .rhap_controls-section {
    margin-top: 8px;
}

.rhap_horizontal {
    flex-direction: row;
}

.rhap_horizontal .rhap_controls-section {
    margin-left: 8px;
}

.rhap_horizontal-reverse {
    flex-direction: row-reverse;
}

.rhap_horizontal-reverse .rhap_controls-section {
    margin-right: 8px;
}

.rhap_stacked-reverse {
    flex-direction: column-reverse;
}

.rhap_stacked-reverse .rhap_controls-section {
    margin-bottom: 8px;
}

.rhap_progress-section {
    display: flex;
    flex: 3 1 auto;
    align-items: center;
}

.rhap_progress-container {
    display: flex;
    align-items: center;
    height: 20px;
    flex: 1 0 auto;
    align-self: center;
    margin: 0 calc(10px + 1%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

.rhap_progress-container:focus:not(:focus-visible) {
    outline: 0;
}

.rhap_time {
    color: #a4a7aa;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
}

.rhap_progress-bar {
    box-sizing: border-box;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 5px;
    background-color: #232428;
    border-radius: 2px;
}

.rhap_progress-filled {
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #868686;
    border-radius: 2px;
}

.rhap_progress-bar-show-download {
    background-color: rgba(221, 221, 221, 0.5);
}

.rhap_download-progress {
    height: 100%;
    position: absolute;
    z-index: 1;
    background-color: #ddd;
    border-radius: 2px;
}

.rhap_progress-indicator {
    box-sizing: border-box;
    position: absolute;
    z-index: 3;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    top: -8px;
    background: #868686;
    border-radius: 50px;
    box-shadow: rgba(134, 134, 134, .5) 0 0 5px;
}

.rhap_controls-section {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
}

.rhap_additional-controls {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
}

.rhap_repeat-button {
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: #868686;
    margin-right: 6px;
}

.rhap_main-controls {
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhap_main-controls-button {
    margin: 0 3px;
    color: #868686;
    font-size: 35px;
    width: 35px;
    height: 35px;
}

.rhap_play-pause-button {
    font-size: 40px;
    width: 40px;
    height: 40px;
}

.rhap_volume-controls {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;
}

.rhap_volume-button {
    flex: 0 0 26px;
    font-size: 26px;
    width: 26px;
    height: 26px;
    color: #868686;
    margin-right: 6px;
}

.rhap_volume-container {
    display: flex;
    align-items: center;
    flex: 0 1 100px;
    user-select: none;
    -webkit-user-select: none;
}

.rhap_volume-bar-area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 14px;
    cursor: pointer;
}

.rhap_volume-bar-area:focus:not(:focus-visible) {
    outline: 0;
}

.rhap_volume-bar {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 4px;
    background: #ddd;
    border-radius: 2px;
}

.rhap_volume-indicator {
    box-sizing: border-box;
    position: absolute;
    width: 12px;
    height: 12px;
    margin-left: -6px;
    left: 0;
    top: -4px;
    background: #868686;
    opacity: 0.9;
    border-radius: 50px;
    box-shadow: rgba(134, 134, 134, .5) 0 0 3px;
    cursor: pointer;
}

.rhap_volume-indicator:hover {
    opacity: 0.9;
}

.rhap_volume-filled {
    height: 100%;
    position: absolute;
    z-index: 2;
    background-color: #868686;
    border-radius: 2px;
}

/* Utils */
.rhap_button-clear {
    background-color: transparent;
    border: none;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
}

.rhap_button-clear:hover {
    opacity: 0.9;
    transition-duration: 0.2s;
}

.rhap_button-clear:active {
    opacity: 0.95;
}

.rhap_button-clear:focus:not(:focus-visible) {
    outline: 0;
}
