* {
    margin: 0;
    overflow: hidden;
    -ms-overflow-style: none;
    word-wrap: break-word;
    overflow-y: scroll;
    color: #8e9297;
}

* ::-webkit-scrollbar {
    width: 0px;
}

.highlighted {
    filter: brightness(90%);
    border-radius: 5px;
}

br {
    display: block;
    margin-top: 5px;
    line-height: 22px;
    content: " ";
}

body {
    background-color: #36393f;
}

.guilds {
    align-content: center;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    float: left;
    width: 80px;
    background-color: #202225;
}

.guilds_divider {
    margin-top: 5px;
    width: 90%;
    margin-left: 5%;
	background-color: #373a3f;
	height: 5px;
    border: none;
    border-radius: 5px;
}

.chosen_guild {
    border-radius: 25%;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    margin-top: 5px;
    margin-left: 7.5px;
}

.unchosen_guild {
    border-radius: 50%;
    cursor: pointer;
    transition: all 125ms ease-in-out;
    margin-top: 5px;
    margin-left: 10px;
}

.unchosen_guild:hover {
    border-radius: 25%;
    transition: all 125ms ease-in;
}

.authors {
    float: right;
    width: 20%;
    max-height: 100vh;
    min-height: 100vh;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: #2f3136;
}

.authors_divider {
    width: 90%;
    margin-left: 5%;
	background-color: #232428;
	height: 5px;
    border: none;
    border-radius: 5px;
}

.authors_header {
    align-content: center;
    font-size: 80%;
    margin: auto;
    width: 25%;
}

.author {
    display: inline;
    position: relative;
    object-fit: cover;
    cursor: pointer;
    left: 5%;
    font-size: 125%;
}

.author_icon {
    padding-left: 3px;
    border-radius: 50%;
    float: left;
}

.author_container {
    border: #2f3136 1px dashed;
    left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2f3136;
    width: 95%;
}

.author_container:hover {
    border: #5d616b 1px dashed;
    color: #dcddde;
    border-radius: 5px;
}

.author_container:active {
    filter: brightness(90%);
}

.author_container:focus {
    filter: brightness(90%);
}

.author_name {
    margin-left: 50px;
}

.tags {
    width: 12.5%;
    float: left;
    max-height: 100vh;
    min-height: 100vh;
    align-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    background-color: #2f3136;
    text-align: center;
}

.tags_divider {
    width: 90%;
    margin-left: 5%;
	background-color: #232428;
	height: 5px;
    border: none;
	border-radius: 5px;
}

.tags_header {
    align-content: center;
    font-size: 80%;
    margin: auto;
    display: block;
}

.tag_container {
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    background-color: #2f3136;
    border: #2f3136 1px dashed;
    position: relative;
    border-radius: 5px;
    object-fit: cover;
    width: 90%;
    align-content: center;
    display: inline-block;
    padding-bottom: 4px;
}

.tag_text {
    margin-left: 7px;
    text-align: left;
}

.tag_container:hover {
    color: #dcddde;
    border: #5d616b 1px dashed;
    border-radius: 5px;
}

.tag_container:active {
    filter: brightness(90%);
}

.tag_container:focus {
    filter: brightness(90%);
}

.center {
    padding: 0px;
    margin: 0px;
    max-height: 100vh;
    min-height: 100vh;
    width: 67.5%;
    align-content: center;
    float: left;
}

.header {
    max-height: 5vh;
    min-height: 5vh;
    padding-top: 3px;
    background-color: #36393f;
    border-bottom: 2px solid #232428;
}

.server_name {
    font-size: 125%;
    color: #f5f6f7;
    padding-left: 45%;
}

.no_quotes {
    max-height: 85vh;
    min-height: 85vh;
    align-content: center;
    padding-left: 25vw;
    font-size: 250%;
    padding-top: 23%;
}

.unclickable {
    cursor: not-allowed;
    filter: brightness(85%);
}

.footer {
    padding-top: 2vh;
    max-height: 10vh;
    min-height: 10vh;
    border-top: 2px solid #232428;
    background-color: #36393f;
}

.text_search_bar {
    margin-left: 15px;
    float: left;
    padding: 10px;
    padding-left: 15px;
    padding-right: 50px;
    border-radius: 5px;
    background-color: #f5f6f7;
}

.search_icon {
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-right: 15px;
}

.search_icon:hover {
    filter: brightness(95%);
}

.quotes {
    max-height: 85vh;
    min-height: 85vh;
    align-content: center;
    overflow-y: scroll;
    margin-left: 15px;
    padding-right: 15px;
}

.quote_message {
    border-radius: 5px;
	display: flex;
	font-size: 0.9em;
	margin: 1em 0;
	padding: 0.25em 1em 0;
    background-color: #2f3136;
}

.quote_author_avatar {
    align-self: flex-start;
    margin-bottom: 3px;
}

.quote_message .quote_author_avatar {
	margin-top: 1px;
	margin-right: 16px;
    border-radius: 50%;
}

.quote_message .quote_message_content {
	width: 100%;
	line-height: 160%;
	font-weight: normal;
	overflow-wrap: anywhere;
}

.quote_message_body {
    color: #dcddde;
}

.quote_author_username {
    color: #f2ffff;
}

.quote_message .quote_author_info {
	display: inline-flex;
	align-items: center;
	font-size: 15px;
}

.quote_message .quote_author_info .quote_author_username {
	font-size: 1.1em;
	font-weight: 500;
	letter-spacing: 0.5px;
}

.quote_message .quote_message_timestamp {
	color: #a3a6aa;
	font-size: 12px;
	margin-left: 3px;
}

.quote_message_timestamp {
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.quote_message .quote_message_body {
	position: relative;
}

.quote_message {
    padding-right: 0px;
}

.quote_image {
    max-width: 400px;
    border-radius: 5px;
    margin-bottom: 5px;
}